# Dependencies
/vendor
/node_modules

# Laravel
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Storage
/storage/*.key
/public/storage
/public/hot

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Testing
coverage/
.phpunit.cache/
