includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - routes

    # Exclude problematic paths
    excludePaths:
        - bootstrap
        - storage
        - vendor
        - database/migrations

    # Laravel-specific
    checkModelProperties: true
    checkOctaneCompatibility: false
